header {
    text-align: center;
    font-size: 30px;
}

body {
    background: #cccccc;

}

h3 {
    padding: 10px 0 20px 0;
    text-align: center;
}

h4 {
    padding: 10px 0 0 0;
}

button {
    background:red;
    border: solid .5em red;
    border-radius: 2em;
    text-align:center;
    color:white;
    font-size:20px;

}

#maincontainer {
    background:white;
    width:50%;
    min-width:460px;
    height:400px;
}

#innercontainer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#textarea {
    width:100%;
    min-height:100px;
}

#showpassword {
    border:dashed 3px lightgrey;
    width:100%;
    text-align: center;
    padding: 0 10px 0 10px;
}

#buttonsrow {
    display:inline;
    padding: 0 0 30px 0;
}